name: Playlist Guncelle

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Playwright ve Sistem Kurulumu
        run: |
          pip install playwright requests
          python -m playwright install --with-deps chromium

      - name: Kanallari Tara
        run: python kanallar.py

      - name: Degisiklikleri Kaydet
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add kanallar.json playlist.m3u
          git commit -m "Veriler guncellendi" || exit 0
          git push origin main
          
