name: Playlist Guncelle

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Tarayici ve Playwright Kur
        run: |
          pip install playwright requests
          playwright install chromium

      - name: Kanallari Tara
        run: python kanallar.py

      - name: Playlisti Kaydet
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add playlist.m3u
          git commit -m "Playlist guncellendi" || exit 0
          git push
          
